

:root {
  --nav-height: 90px;
}

body {
  margin: 1;
  padding: 1;
  font-family: 'Montserrat', sans-serif;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border-bottom: 5px solid #0c0c0c; */
  height: var(--nav-height);
  background-color: white; 
}
nav h1{
  color: rgb(77, 158, 233);
  font-size: 40px;
}
nav .onglets{
  margin-top: 3px;
  margin-left: 190px;
}
nav .onglets a{
  text-decoration: none;
  color: rgb(20, 116, 160);
  margin-right: 30px;
  border-bottom: 1px solid rgb(8, 227, 243);
  padding-bottom: 1px;
}

header{
  background-image: url('../images/image1.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - var(--nav-height));
}

@media screen and (max-width:680px){
  nav .onglets{
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

text1{
  position: relative;
  animation: text 5s 1;
}

@keyframes text {
  0%{
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
  }
}

main section {
  height: 100vh;
}
